<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <title>
        hellows;
    </title>

    {{ partial "head.html" . }}

</head>

<body>

    <div class="flexWrapper">
        {{ partial "header.html" . }}

        <div class="content vertical">
            <main class="main">
                <div class="indexWrapper">
                    {{ if .Site.Params.author.avatarFirst }}
                        {{ partial "avatar.html" . }}
                    {{ end }}
                    <div>
                        <img style="border-radius:50%" src="https://pbs.twimg.com/profile_images/1908644042327416832/TRsOsflR_400x400.jpg" height="120" width="120"></img>
                        <h1 class="indexHeader">hellows;</h1>
                    </div>
                    {{ if not .Site.Params.author.avatarFirst }}
                        {{ partial "avatar.html" . }}
                    {{ end }}
                    {{ if isset .Site.Params "social" }}
                        {{ partial "social.html" . }}
                    {{ end }}
                </div>
            </main>
        </div>


        {{ partial "footer.html" . }}
    </div>

</body>

</html>
